<tr>
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>{{quantity}}</td>
    <td>{{allprice}}</td>
    <td>
        <button onclick="window.location.href = '#/cart123/{{_id}}'">Discard</button>
    </td>
</tr>